body {
  background-color: black;
  margin: 0px;
  border: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  content: inherit;
}

header {
  background-color: white;
  border: 0px;
  margin: 0px;
  padding: 3px;
  width: 100%;
  height: 0%;
  text-align: center;
  color: #828286;
  font-family: 'Work Sans', sans-serif;
}

#logo-kupiix:hover {
  transform: scale(1.1);
}

.ku {
  color: #E46332;
}

.ku1 {
  color: #E46332;
}

.piix {
  color: #57CAFB;
}

main {
  background-color: black;
  margin: 0;
  width: 100;
  height: 100%;
}

#kanan {
  font-family: 'Work Sans', sans-serif;
  font-size: 400%;
  line-height: 0em;
}

#bienvenida {
  font-size: 200%;
  color: #57CAFB;
}

.sub-copy {
  color: #c7c9c7;
}

.sub-copy-kanan{
  color: #c7c9c7;
  font-size: 60;
}

textarea {
  padding: 10px;
  margin: 10px 0 0 -10px;
  width: 370px;
  height: 50px;
  resize: auto;
  overflow: auto;
  font-size: 16px;
}

.button-action {
  border: 0;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: black;
  background-color: #57CAFB;
  width: 150px;
  height: 50px;
  border-radius: 28px;
  margin: 10px;
  text-align: center;
}

.button-reset {
  border: 0;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: black;
  background-color: #57CAFB;
  width: 200px;
  height: 50px;
  border-radius: 28px;
  text-align: center;
}

.button-action:hover {
  opacity: 0.8;
  color: white;
}

.button-reset:hover {
  opacity: 0.8;
  color: white;
}

section {
  background-color: black;
  color: white;
  font-family: 'Asap', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  border: 0px;
}

#code-screen, #decode-screen {
  margin-top: 50px;
  margin-bottom: 50px;
}

#start-again{
  background-color: black;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0 auto;
  margin-top: 10 px;
}

footer {
  background-color: white;
  color: #828286;
  width: 100%;
  text-align: center;
  border: 0;
  font-family: 'Work Sans', sans-serif;
  padding: 10px;
  margin-top: 100px;
  margin: 0 auto;
  bottom: 0;
  position: fixed;
}
